[[extend 'layout.html']]
<div class="section">

    <div class="columns">
        <div class="column">
          <h1 class="title has-text-centered">Dashboard</h1>
          <div class="columns is-mobile">
            <div class="column">
              <p class="bd-notification is-info has-text-centered"><strong>Name: </strong>Jackie Wong</p>
            </div>
            <div class="column">
              <p class="bd-notification is-info has-text-centered"><strong>Email: </strong>cwong761@ucsc.edu</p>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <br>
      
      <div class="column">
        <h2 class="title is-size-4">Your Rating:</h2>
        <p class="has-text-centered" style="font-size:19px"><strong>Overall:</strong> &nbsp;&nbsp;&nbsp;(SCORE)</p>
        <p class="has-text-centered" style="font-size:15px"><strong>Responsiveness:</strong> &nbsp;&nbsp;&nbsp;(SCORE)</p>
        <p class="has-text-centered" style="font-size:15px"><strong>Friendliness:</strong> &nbsp;&nbsp;&nbsp;(SCORE)</p>
      </div>

      <br>
      <hr>
      <br>

      <h1 class="title is-4" style="text-align: center;">Your Replies</h1>

      <div class="section">
          <div class="columns is-vcentered has-background-info-light">
              <div class="column has-background-info-light is-half">
                  <div class="columns">
                      <div class="column is-half has-text-centered is-vcentered">
                        <h4 class="is-size-4"></h4>
                        <br>
                        <h6 class="is-size-5">Score: <strong>10/10</strong></h6>
                        <br>
                        <h7 class="is-size-7">
                            Property: <strong>157 Franklin St</strong><br>
                            Responsiveness: <strong>10/10</strong><br>
                            Friendliness: <strong>10/10</strong><br>
                            Would Rent Again: <strong>Yes</strong><br>
                        </h7>
                        <br>
                        <i class="icon fa fa-thumbs-up"></i>
                        <i class="icon fa fa-thumbs-down"></i>
                      </div>
                      <div class="column is-size-6 has-text-centered is-vcentered is-gapless">
                        "Would recommend to anyone looking for a rental. 
                        They are quick and responsive to service requests and always call before coming in."
                      </div>
                  </div>
              </div>
              <br>
              <div class="column has-background-grey-lighter has-text-centered is-vcentered">
                  <strong>Your Respond:</strong><br>
                  Thank you for your review! I'm gald that you enjoyed your stay here!
              </div>
          </div>
      </div>


    </div>
    

</div>